@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Preahvihear&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
    --header-logo-background: #720418;
    --header-text-color: #241400;
    --header-text-active-color: #E16A00;
    --white-color: #FFFFFF;
    --input-color: #797667;
    --title-color: #333333;
    --background: #FFFAF5;
    --bg-color: #fffaf5;
    --hero-bg-color: #720418;
    --background-active: #f8ebde;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
html{
  overflow-x: hidden;
}
body {
  background-color: #fffaf5;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

.header {
  background: var(--background);
  padding: 1.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 5rem; */
  position: fixed;
  width: 90%;
  transition: all .3s linear;
  z-index: 999;
}
.header.active{
  background: var(--background-active);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.header__logo__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__logo__title {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.header__logo__title h2 {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding-bottom: .2rem;
  border-bottom: 1px solid var(--header-logo-background);
  width: 8rem;
  color: var(--header-logo-background);
}

.header__logo__title p {
  font-weight: 400;
  font-size: 13px;
  padding-top: .2rem;
  color: var(--header-text-color);
}

.header__list {
  display: flex;
  z-index: 999;
}

.header__list>div {
  display: none;
}

.header__list ul {
  display: flex;
  gap: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.header__list ul li a {
  text-decoration: none;
  color: var(--header-text-color);
  font-weight: 400;
  font-size: 16px;
  transition: all .3s ease;
}

.header__list ul li a:hover,
.header__list ul li a.active {
  color: var(--header-text-active-color);
  border-bottom: 1px solid var(--header-text-active-color);
  transition: all .3s ease;
}

.header__join_us {
  display: flex;
  align-items: center;
  gap: .6rem;
  color: var(--header-text-color);
}

.user_bar {
  display: flex;
  align-items: center;
  gap: .6rem;
}
.header__responsive_menu {
  display: none;
}

.header__responsive_menu p {
  display: none;
  color: var(--header-text-color);
  font-size: 1.5rem;
}
.header__join_us .close_button {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: grey;
  color: white;
  display: none;
}

.header__join_us .close_button:hover {
  color: white;
  background-color: green;
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

.modal .join_us {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  padding-top: 25px;
}

.modal .join_us h2 {
  margin-bottom: 20px;
}

.modal .join_us input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 35px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  padding: 18px 52px;
  border-radius: 5px;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #797667;
  outline: none;
}

.modal .join_us button {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 18px;
  background: #E16A00;
  border: 1px solid #CECECE;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.header__join_us :hover {
  cursor: pointer;
  color: green;
}

.active_modal {
  display: block !important;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 3rem 5rem;
  padding-top: 7rem;
}

.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.title__paragraph{
width: 30vw;
line-height: 1.5rem;
}
.title__text {
  font-size: 36px;
  font-weight: 900;
}

.title__link {
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #e16a00;
  color: #fff;
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  transition: all .3s linear ;
}

.title__link:hover {
  background-color: #ae5302;
}

 .hero__container {
  position: relative;
  transform:translateX(25%) translateY(-20%);
}

.hero__background-1 {
  background-color: #720418;
  position: absolute;
  transform: translateX(15%);
  width: 205px;
  height: 250px;
  z-index: 1;
}

.hero__background-2 {
  background-color: #720418;
  position: absolute;
  transform: translateX(80%) translateY(10%);
  width: 200px;
  height: 250px;
  z-index: 1;
}

.hero__background-3 {
  background-color: #720418;
  position: absolute;
  transform: translateY(15%);
  width: 450px;
  height: 320px;
  z-index: 1;
}

.hero__background-4 {
  background-color: #720418;
  position: absolute;
  transform: translateX(30%) translateY(430%);
  width: 295px;
  height: 75px;
  z-index: 1;
}

.hero__img {
  position: relative;
  transform: translateX(-15%) translateY(20%);
  z-index:1200;
}
.hero__img img{
  width: 90%;
  height: 90%;
} 
.catalog,.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'Montserrat';
  font-style: normal;
  padding: 5rem 2rem;
}
.catalog__text,.info__text {
font-weight: 900;
font-size: 25px;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.catalog__item {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  width: 27%;
}

.catalog__item  a{
  font-weight: 600;
  text-decoration: none;
  color: var(--title-color);
}

.info__container {
  padding: 3rem 0;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 5rem;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 18%;
}

.info__num {
  font-size: 45px;
  font-weight: 900;
}

.delivery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0;
}

.delivery__text {
  font-size: 25px;
  font-weight: 900;
}

.delivery__paragraph {
  text-align: center;
  font-size: 16px;
  width: 80%;
  line-height: 24px;
} 

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  height: 20rem;
  padding: 2rem 0;
  font-family: "Montserrat";
  font-style: normal;
}

.social_media_title {
  color: #241400;
  font-weight: 900;
  font-size: 25px;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social_media_icons > div img {
  width: 100%;
  height: 90%;
}

.footer {
  width: 100%;
  background-color: #391F00;
  margin-top: 40px;
}
.footer .footer_content {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.footer .footer_content .footer_logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer .footer_content .footer_logo .footer__logo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer_content .footer_logo .footer__logo__title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.footer .footer_content .footer_logo .footer__logo__title h2 {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
  width: 8rem;
  color: #FFFFFF;
}
.footer .footer_content .footer_logo .footer__logo__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.footer .footer_content .footer-infos {
  display: flex;
  gap: 1.5rem;
}
.footer .footer_content .footer_information {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 196.19%;
  color: #FFFFFF;
  padding-right: 25px;
}
.footer .footer_content .footer_information p {
  cursor: pointer;
}
.footer .footer_content .footer_information .number {
  font-weight: 900;
  font-size: 12px;
  line-height: 196.19%;
  display: flex;
}
.footer .footer_content .footer_information .calling {
  border: 1px solid #E16A00;
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 196.19%;
  color: #E16A00;
  margin-top: 10px;
}
.footer .footer_end {
  font-family: "Montserrat";
  font-style: normal;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 196.19%;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
} 
.footer .end-responsive {
  display: none;
}
.hr{
  display: none;
}
@media  screen and (max-width:991px) {
  .header {
    width: 88%;
  }
  .header__join_us>p {
      display: none;
  }
  .close_button {
    display: none;
}

.header__responsive_menu {
    display: flex;
    align-items: center;
}

  .header__responsive_menu p {
      display: block;
  }
  .header__responsive_menu .close_button_repo {
    display: none;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin-right: 10px;
}
.header__responsive_menu .close_button_repo:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
  .header__list {
      width: 0;
      height: 0;
      overflow: hidden;
      transition: all .3s linear;
      position: fixed;
      top: 0;
      left: 0;
  }

  .header__list.active {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 2rem 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      overflow: visible;
      transition: all .3s ease;
  }

  .header__list.active ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 1rem 2rem;
  }

  .header__list.active ul li a {
      color: var(--white-color);
      font-size: 1.5rem;
  }

  .header__list ul li a:hover,
  .header__list ul li a.active {
      color: var(--header-text-active-color);
      border-bottom: 1px solid var(--header-text-active-color);
      transition: all .3s ease;
  }

  .header__list.active>div {
      display: block;
      padding: 1rem 2rem;
  }

  .header__list.active>div img {
      width: 150%;
      height: 150%;
  }

  .modal .join_us {
      width: 60%;
      font-size: 38px;
  }
  .main-container {
    height: 50vh;
  }
  .title__text {
    font-size:28px;
  }

  .hero__container {
    transform: translateX(15%) translateY(-20%);
  }

  .hero__background-1 {
    width: 130px;
    height: 160px;
  }

  .hero__background-2 {
    width: 130px;
    height: 160px;
  }

  .hero__background-3 {
    width: 350px;
    height: 230px;
  }

  .hero__background-4 {
    width: 200px;
    height: 80px;
    transform:translateX(40%) translateY(260%);
  }

  .hero__img {
    width: 350px;
    height: 220px;
    transform:translateX(-8%) translateY(18%);
  }
  .hero__img img{
    width: 100%;
    height: 100%;
  }
  .catalog__item {
    width: 40%;
  }
  .info__item {
    width: 40%;
  }
  .footer {
    width: 100%;
    background-color: #391F00;
    margin-top: 40px;
  }
  .footer .footer_content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    padding: 25px 0;
  }
  .footer .footer_content .footer_logo {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
  }
  .footer .footer_content .footer_logo .footer__logo__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer .footer_content .footer_logo .footer__logo__title {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  .footer .footer_content .footer_logo .footer__logo__title h2 {
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.59);
    width: 8rem;
    color: #FFFFFF;
  }
  .footer .footer_content .footer_logo .footer__logo__title p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 196.19%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  .footer .footer_content .footer-infos {
    display: flex;
    justify-content: center;
  }
  .footer .footer_content .footer_information {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-right: 0px;
  }
  .footer .footer_content .footer_information p {
    display: none;
    cursor: pointer;
  }
  .footer .footer_content .footer_information .title {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    padding-right: 20px;
    margin-top: 15px;
    cursor: pointer;
  }
  .footer .footer_content .footer_information .number {
    display: none;
  }
  .footer .footer_content .footer_information .calling {
    display: none;
  }
  .footer .footer_content .contact {
    display: none;
  }
  .footer .footer_end {
    display: none;
  }
  .footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.59);
    margin: auto;
  }
  .footer .end-responsive {
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    text-align: center;
    color: #FFFFFF;
  }
  .hr{
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1.5rem 3rem;
  }
  .main-container {
    flex-direction: column;
    gap: 3rem;
    height: 50vh;
  }

  .title__link {
    width: 100%;
  }
.title__paragraph{
  width: 100%;

}
  .title__container {
    width: 100%;
  }

  .title__text {
    font-size: 22px;
  }

  .hero__container {
    transform:translateX(0%);
  }

  .hero__background-1 {
    width: 130px;
    height: 160px;
  }

  .hero__background-2 {
    width: 130px;
    height: 160px;
  }

  .hero__background-3 {
    width: 400px;
    height: 230px;
  }

  .hero__background-4 {
    width: 200px;
    height: 80px;
  }
  .hero__img {
    width: 350px;
    height: 200px;
    transform:translateX(7%) translateY(20%);
  }
  .hero__img img{
    width: 100%;
    height: 100%;
  }
  .catalog{
    margin-top: 8rem;
  }
}
@media screen and (max-width:584px) {
  .catalog__item {
    width: 80%;
  }
  .info__item {
    width: 80%;
  }
  .header {
    width: 92%;
      padding: 1.5rem;
  }

  .modal .join_us {
      width: 80%;
      font-size: 32px;
  }

  .modal .join_us h2 {
      margin-bottom: 0;
  }

  .main-container {
    padding-left: 1.5rem ;
    padding-right: 1.5rem ;
  }

  .title__link {
    width: 95%;
  }
  .title__paragraph{
    width: 95%;
  }

   .title__text {
    font-size: 18px;
  } 

  .hero__container {
    transform: translateX(-5%);
  }

  .hero__background-1 {
    width: 130px;
    height: 160px;
  }

  .hero__background-2 {
    width: 130px;
    height: 160px;
  }

  .hero__background-3 {
    width: 350px;
    height: 200px;
  }

  .hero__background-4 {
    width: 200px;
    height: 70px;
  }

  .hero__img {
    width: 320px;
    height: 180px;
    transform:translateX(3%) translateY(18%);
  }
  .hero__img img{
    width: 100%;
    height: 100%;
  }
  .info__num{
    font-size: 30px;
  }
  .social_media_title {
    font-size: 20px;
  }
  .social_media_icons > div img {
    width: 90%;
    height: 80%;
  }
}
@media screen and (max-width:400px) {
  .header{
    width: 90%;
  }
}

.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f1faee;
  --outer-line-color: #a8dadc;
  --middle-line-color: #457b9d;
  --inner-line-color: #1d3557;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
/*   transform: translate(-50%, -50%); */
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}

.loader:before {
  content:"";
  position: absolute;
  top:4px;
  left:4px;
  right:4px;
  bottom:4px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader:after {
  content:"";
  position: absolute;
  top:14px;
  left:14px;
  right:14px;
  bottom:14px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:var(--curtain-color);
  width:51%;
  height:100%;
  z-index:1000;
}

.loader-wrapper .loader-section.section-left {
  left:0
}
.loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */ 
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all .3s 1s ease-out;
}