@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

#umumi{
    padding: 50px;
}

h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #241400;
}
.mid{
    display: flex;
    justify-content: space-between;
}

#text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
}

@media only screen and (max-width: 530px){
    .mid{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse; 

    }
    h1{
        display: none;
    }
    #text{
        font-size: 16px;
        line-height: 176.19%;
    }
    img{

        padding-bottom: 50px;
        height: 140px;
    }
}

@media (min-width: 531px) and (max-width: 768px){
    .mid{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse; 
    }
    h1{
        display: none;
    }
    #text{
        font-size: 18px;
        line-height: 196.19%;
    }
    img{

        padding-bottom: 90px;
        height: 250px;
    }   
}

@media (min-width: 769px) and (max-width: 992px){
    .mid{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse; 
    }
    h1{
        display: none;
    }
    #text{
        font-size: 20px;
        line-height: 196.19%;
    }
    img{

        padding-bottom: 90px;
        height: 300px;
    }   
}


