* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #FFFAF5;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  padding: 5rem;
}
.contain h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  color: #241400;
}
.contain .main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contain .main .left {
  width: 30%;
} 
.contain .main .left input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 5px;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #241400;
  padding: 17px;
}
.contain .main .left button {
  display: block;
  width: 100%;
  margin-top: 44px;
  padding: 12px;
  background: #E16A00;
  border-radius: 5px;
  border: none;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
}
.contain .main .right {
  width: 60%;
}
.contain .main .right .swiper {
  width: 100%;
  height: 100%;  
  /* min-height: 70vh; */
  padding: 0;
  max-height: 90vh;
  background: #fff;
} 
 .contain .main .right .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden; 
}
.contain .main .right .swiper .swiper-slide .left {
  padding: 30px;
  width: 40%;
}
.contain .main .right .swiper .swiper-slide .left img {
  -o-object-fit: contain;
     object-fit: contain;
}
.contain .main .right .swiper .swiper-slide .right {
  padding: 30px 30px 30px 0;
  font-size: 16px;
  width: 60%;
} 
.contain .main .right .swiper .swiper-slide .right h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 196.19%;
  color: #241400;
  text-align: left;
}
.contain .main .right .swiper .swiper-slide .right .author {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  color: #241400;
}
.contain .main .right .swiper .swiper-slide .right .info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 196.19%;
  color: #241400;
  text-align: left;
}
.contain .main .right .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  height: 20rem;
  padding: 2rem 0;
  font-family: "Montserrat";
  font-style: normal;
}

.social_media_title {
  color: #241400;
  font-weight: 900;
  font-size: 25px;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social_media_icons > div img {
  width: 100%;
  height: 90%;
}

.footer {
  width: 100%;
  background-color: #391F00;
  margin-top: 40px;
}
.footer .footer_content {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.footer .footer_content .footer_logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer .footer_content .footer_logo .footer__logo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer_content .footer_logo .footer__logo__title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.footer .footer_content .footer_logo .footer__logo__title h2 {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
  width: 8rem;
  color: #FFFFFF;
}
.footer .footer_content .footer_logo .footer__logo__title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.footer .footer_content .footer-infos {
  display: flex;
  gap: 1.5rem;
}
.footer .footer_content .footer_information {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 196.19%;
  color: #FFFFFF;
  padding-right: 25px;
}
.footer .footer_content .footer_information p {
  cursor: pointer;
}
.footer .footer_content .footer_information .number {
  font-weight: 900;
  font-size: 12px;
  line-height: 196.19%;
  display: flex;
}
.footer .footer_content .footer_information .calling {
  border: 1px solid #E16A00;
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 196.19%;
  color: #E16A00;
  margin-top: 10px;
}
.footer .footer_end {
  font-family: "Montserrat";
  font-style: normal;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 196.19%;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
} 
.footer .end-responsive {
  display: none;
}
.hr{
  display: none;
}
@media screen and (max-width: 786px) {
  .contain .main .right .swiper {
    max-height: 150vh;
  }
   .contain .main .right .swiper .swiper-slide {
    flex-direction: column;
  }
  .contain .main .right .swiper .swiper-slide .left {
    width: 60%; 
    padding-bottom: 0;
  }
  .contain .main .right .swiper .swiper-slide .right {
    padding: 0;
    padding-bottom: 2rem;
    font-size: 16px;
    width: 90%; 
  } 
}
@media screen and (max-width: 576px) {
  .social_media_title {
    font-size: 20px;
  }
  .social_media_icons > div img {
    width: 90%;
    height: 80%;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right h3{
    font-size: 16px;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right .author{
    font-size: 16px;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right .info{
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .contain {
    padding: 0px;
  }
  .contain h2 {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  .contain .main {
    flex-direction: column;
  }
  .contain .main .left {
    display: block;
    width: 90%;
    margin: auto;
  }
  .contain .main .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
  }
   .contain .main .right .swiper {
    width: 100%;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
  }
  .contain .main .right .swiper .swiper-wrapper {
    width: 100%;
    display: flex;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .left img {
    width: 80%;
    margin: auto;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right h3 {
    text-align: center;
    display: block;
    align-items: normal;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right .author {
    text-align: center;
    display: block;
    align-items: normal;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide .right .info {
    text-align: left;
    display: block;
    align-items: normal;
    margin-top: 5px;
    text-align: justify;
  }
  .contain .main .right .swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }  
  .footer {
    width: 100%;
    background-color: #391F00;
    margin-top: 40px;
  }
  .footer .footer_content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    padding: 25px 0;
  }
  .footer .footer_content .footer_logo {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
  }
  .footer .footer_content .footer_logo .footer__logo__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer .footer_content .footer_logo .footer__logo__title {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  .footer .footer_content .footer_logo .footer__logo__title h2 {
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.59);
    width: 8rem;
    color: #FFFFFF;
  }
  .footer .footer_content .footer_logo .footer__logo__title p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 196.19%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  .footer .footer_content .footer-infos {
    display: flex;
    justify-content: center;
  }
  .footer .footer_content .footer_information {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-right: 0px;
  }
  .footer .footer_content .footer_information p {
    display: none;
    cursor: pointer;
  }
  .footer .footer_content .footer_information .title {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    padding-right: 20px;
    margin-top: 15px;
    cursor: pointer;
  }
  .footer .footer_content .footer_information .number {
    display: none;
  }
  .footer .footer_content .footer_information .calling {
    display: none;
  }
  .footer .footer_content .contact {
    display: none;
  }
  .footer .footer_end {
    display: none;
  }
  .footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.59);
    margin: auto;
  }
  .footer .end-responsive {
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    text-align: center;
    color: #FFFFFF;
  }
  .hr{
    display: block;
  }
} 

